<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        /* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
        */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        *{
            box-sizing: border-box;
        }
        .pdf-wrapper {
            page-break-after: always;
        }
        .container{
            padding: 0px 20px;
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
        }
        header{
            max-width:1200px;
            width:100%;
            padding-top: 20%;
            margin: 0 auto;
            position: relative;
        }
        .logo-background{
            position: absolute;
            top: 0;
            right: -5%;
            max-width: 300px;
            width:100%;
            z-index: -1;
            opacity: 0.3;
        }
        .logo-wrap,.benefit-image{
            display: inline-block;
            vertical-align: middle;
        }
        .header-text,.benefit-text{
            display: inline-block;
            vertical-align: middle;
        }
        .benefit-text,.benefit-image{
            vertical-align: top;
        }
        .logo{
            width:150px
        }
        .intro-text{
            padding-top: 40px;
            padding-bottom: 20px;
        }
        .intro-text p{
            font-size: 18px;
            color: #727272;
            margin-bottom: 25px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
            line-height: 1.3;
        }
        .header-text{
            width: calc(100% - 180px);
        }
        .header-text h1{
            font-size: 22px;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
            margin-bottom: 10px;
        }
        .header-text h5{
            font-size:20px;
            font-weight: 400;
            font-family: 'DM Sans', sans-serif;
            margin-bottom: 10px;
        }
        .hr-wrap hr{
            border-color: #cccccc;
            opacity: 0.5;
        }
        .benefit-list{
            padding: 40px 0px;
        }
        .benefit-wrap{
            width: 48%;
            display: inline-block;
            margin-bottom: 30px;
        }
        .benefit-image{
            width: 30px;
        }
        .benefit-text{
            width: calc(100% - 40px);
        }
        .benefit-text h1,.point-text h1{
            font-size: 18px;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
            margin-bottom: 10px;
            line-height: 1.3;
        }
        .benefit-text p,.point-text p, .point-text ol li{
            color: #727272;
            font-size:16px;
            font-weight: 400;
            font-family: 'DM Sans', sans-serif;
            line-height: 1.5;
        }
        .terms-and-conditions{
            padding: 20px 0px;
        }
        .point-text ol{
            padding-left: 20px;
        }
        .point-text p, .point-text ol li{
            color: black;
            line-height: 1.2;
        }
        @media print{
            .pdf-wrapper{
                width: 90%;
                margin: 0 auto;
            }
        }
        .table-wrap{
            margin: 0 -20px;
        }
        table{
            width: 100%; 
            border-collapse: separate;
            border-spacing: 0 16px;
        }
        table td{
            vertical-align: middle;
            font-size:18px;
            font-weight: 400;
            font-family: 'DM Sans', sans-serif;
            line-height: 1.3;
            padding: 10px 5px;
        }
        table td p{
            line-height: 1.3;
        }
        .header-font-weight{
            font-weight: 700;
        }
        .big-text{
            font-size: 24px;
        }
        .text-gray{
            color: #727272;
        }
        .m-b-15{
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    
    <div class="pdf-wrapper">
        <header>
            <div class="logo-background">
                <img src="http://localhost:5000/assets/images/logo-background.png" alt="background-image" width="100%">
            </div>
            <div class="container">
                <div class="header-wrap">
                    <div class="logo-wrap">
                        <div class="logo">
                            <img src="http://localhost:5000/assets/images/logo.png" alt="Senco Images" width="100%">
                        </div>
                    </div>
                    <div class="header-text" style="margin-left: 16px">
                        <h1>Senco Protection Plan</h1>
                        <h5>Your Jewellery is protected with Senco’s Guarantee</h5>
                    </div>
                </div>
                <div class="hr-wrap">
                    <hr>
                </div>
            </div> 
        </header>
        <section class="introduction">
            <div class="container">
                <div class="intro-text">
                    <p>Congratulation on being part of Senco Family! We welcome you into our
                        Senco Protection Plan and will provide guaranteed protection of your
                        Jewellery against any loss from natural calamities, damage or theft.</p>
                    <p>Senco Gold and Diamonds is a company with a legacy of over five decades.
                        The company is renowned for their light weight and handmade Jewellery. We
                        believe in superior customer service and strive towards excellence in
                        production, designing, and customer experience. Transparency, honesty, and
                        integrity serve as the three main pillars of Senco Gold & Diamonds</p>
                </div>
            </div>
        </section>
        <section class="benefits">
            <div class="container">
                <div class="header-text">
                    <h1>Benefits of our Guarantee Plan</h1>
                </div>
                <div class="benefit-list">
                    <div class="benefit-wrap">
                        <div class="benefit-image">
                            <img src="http://localhost:5000/assets/images/logo-background.png" width="100%">
                        </div>
                        <div class="benefit-text">
                            <h1>No Hidden Cost Exchange</h1>
                            <p>Exchange at the price you buy your Jewellery when its stolen, damaged beyond repairs.</p>
                        </div>
                    </div>
                    <div class="benefit-wrap">
                        <div class="benefit-image">
                            <img src="http://localhost:5000/assets/images/logo-background.png" width="100%">
                        </div>
                        <div class="benefit-text">
                            <h1>Cash-free Maintenance</h1>
                            <p>Life-time free shine and polish for your Jewellery to keep them looking new</p>
                        </div>
                    </div>
                    <div class="benefit-wrap">
                        <div class="benefit-image">
                            <img src="http://localhost:5000/assets/images/logo-background.png" width="100%">
                        </div>
                        <div class="benefit-text">
                            <h1>Free Insurance Coverage</h1>
                            <p>All-Risk policy coverage for your Jewellery from a leading insurer</p>
                        </div>
                    </div>
                    <div class="benefit-wrap">
                        <div class="benefit-image">
                            <img src="http://localhost:5000/assets/images/logo-background.png" width="100%">
                        </div>
                        <div class="benefit-text">
                            <h1>Senco at your service</h1>
                            <p>Our experts are always there to help you</p>
                        </div>
                    </div>
                    <div class="benefit-wrap">
                        <div class="benefit-image">
                            <img src="http://localhost:5000/assets/images/logo-background.png" width="100%">
                        </div>
                        <div class="benefit-text">
                            <h1>Complete Transparency</h1>
                            <p>No hidden charges/cost or terms,everything is done with outmost transparency</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="pdf-wrapper">
        <header>
            <div class="logo-background">
                <img src="http://localhost:5000/assets/images/logo-background.png" alt="background-image" width="100%">
            </div>
            <div class="container">
                <div class="header-wrap">
                    <div class="logo-wrap">
                        <div class="logo">
                            <img src="http://localhost:5000/assets/images/logo.png" alt="Senco Images" width="100%">
                        </div>
                    </div>
                    <div class="header-text" style="margin-left: 16px">
                        <h1>Senco Protection Plan</h1>
                        <h5>Your Jewellery is protected with Senco’s Guarantee</h5>
                    </div>
                </div>
                <div class="hr-wrap">
                    <hr>
                </div>
            </div> 
        </header>
        <section>
            <div class="container">
                <div class="table-wrap">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="9">
                                    <p class="header-font-weight">{{jewelleryMaterial}} - {{jewelleryType}}</p>
                                    {{!-- <p>18K gold bangles,</p>
                                    <p>18K white gold ring with 4 X 0.2 ct round diamonds</p> --}}
                                </td>
                                <td colspan="1" class="big-text header-font-weight" style="text-align: right;">
                                    {{invoiceNo}}
                                </td>
                            </tr>
                            <tr>
                                <td class="header-font-weight" colspan="10">PURCHASE DETAILS </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-gray">
                                    <p>Customer Name:</p>
                                    <p>Email Address:</p>
                                    <p>Contact No: </p>
                                    <p>Master Poliicy No:</p>
                                    <p>Senco Certificate No:</p>
                                </td>
                                <td colspan="5">
                                    <p>{{ownerName}}</p>
                                    <p>{{ownerEmail}}</p>
                                    <p>{{ownerMobile}}</p>
                                    <p>4802CZ9095</p>
                                    <p>4802-2323-000</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="header-font-weight" colspan="10">COST BREAKUP</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;">Protection Plan</td>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;text-align: right;" class="header-font-weight">₹0</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;">Insurance Premium</td>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;text-align: right;" class="header-font-weight">₹{{policyPremium}}</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;">Tax (18%) </td>
                                <td colspan="5" style="border-bottom: 1px solid #cccccc;text-align: right;" class="header-font-weight">₹{{gst}}</td>
                            </tr>
                            <tr>
                                <td colspan="5">Total</td>
                                <td colspan="5" style="text-align: right;" class="header-font-weight">₹{{finalPremium}}</td>
                            </tr>
                            <tr>
                                <td>
                                   <p>Contact details for any help:</p>
                                   <p>Email address: nonmotor1@iffcotokio.co.in</p>
                                   <p>Call Centre Number: 18001035499</p>
                                   <p>Add on services: Senco</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
    </div>
    <div class="pdf-wrapper">
        <header>
            <div class="logo-background">
                <img src="http://localhost:5000/assets/images/logo-background.png" alt="background-image" width="100%">
            </div>
            <div class="container">
                <div class="header-wrap">
                    <div class="logo-wrap">
                        <div class="logo">
                            <img src="http://localhost:5000/assets/images/logo.png" alt="Senco Images" width="100%">
                        </div>
                    </div>
                    <div class="header-text" style="margin-left: 16px">
                        <h1>Senco Protection Plan</h1>
                        <h5>Your Jewellery is protected with Senco’s Guarantee</h5>
                    </div>
                </div>
                <div class="hr-wrap">
                    <hr>
                </div>
            </div> 
        </header>
        <section>
            <div class="container">
                <div class="terms-and-conditions">
                    <div class="point-text m-b-15">
                        <h1>No Hidden Cost:</h1>
                        <ol type="1">
                            <li>Each Jewellery cost and each plan shows accurate break-up of cost</li>
                            <li>Get Voucher of the invoice value in case your Jewellery is stolen or completely damaged.</li>
                        </ol>
                    </div>
                    <div class="point-text m-b-15">
                        <h1>Cash-Free Maintenance:</h1>
                        <p>Get your Jewellery polished, cleaned or repaired free of cost at Senco’s Guarantee</p>
                    </div>
                    <div class="point-text m-b-15">
                        <h1>Insurance Coverage:</h1>
                        <ol type="1">
                            <li class="m-b-15">Who’s Covered:
                                <p>This Plan insures XYZ and all family member(s) currently residing with the insured</p>
                            </li>
                            <li class="m-b-15">What is Covered:
                                <p>Physical loss or damage or destruction to the insured property up to the amount(s)
                                    insured arising from any cause whilst within the territorial limits specified in the
                                    schedule occurring during the period of insurance and subject to the following
                                    exclusions, basis of settlement and conditions against.
                                    </p>
                            </li>
                            <li class="m-b-15"><p  class="m-b-15 header-font-weight" style="font-weight: 700;">What is Not Covered:</p>
                                <ol type="a">
                                    <li class="m-b-15"> Damage caused by any deterioration arising from wear and tear, moths, insects, vermin, mildew, inherent defect or any other gradually operating cause</li>
                                    <li class="m-b-15"> Loss due to market depreciation</li>
                                    <li class="m-b-15"> Loss directly or indirectly occasioned by or happening through or in consequence of war, Invasion act of foreign enemy, hostilities (whether war be declared or not), Civil war, rebellion, revolution, insurrection, Military or usurped power, Confiscation,destruction by or under order of any Public Authority.</li>
                                    <li class="m-b-15"> Directly or indirectly caused by or contributed to by or arising from ionising radiation or contamination by radio activity from any source whatsoever.</li>
                                    <li class="m-b-15"> Loss caused due to wilful misconduct of Insured</li>
                                    <li> Unexplainable losses of insured property</li>
                                </ol>
                            </li>

                        </ol>
                    </div>
                    <div class="point-text m-b-15">
                        <h1>Senco’s Service and Complete Transparency:</h1>
                        <p>Senco’s experts will be at your service whenever you require our service and we promise to provide every cost and service with utmost transparency to keep everything hassle-free for you</p>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</body>
</html>